*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .face {
    position: relative;
    width: 90px;
    height: 152px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #F8D626;
}
 */

.face::before {
    content: '';
    position: absolute;
    top: 40px;
    width: 40px;
    height: 40px;
    color: aqua;
    transition: 0.5s;
}

.eyes {
    color: aqua;
}